<section class="section-gallery">

    <h3 id="gallery">Gallery</h3>

    <div class="gallery-belt">

        <div class="thumb-wrap">
            <div class="thumb-container">
                {% for project in site.data.settings.projects %}
                <label for="{{ project.folder }}">
                    <div class="thumb-unit" data-folder="{{ project.folder }}">
                        <img id="{{ project.folder }}" class="myImg" src="assets/img/gallery/{{project.folder}}/thumb.jpg" alt="{{ project.name }}" />
                    </div>

                </label>
      {% endfor %}
            </div>
        </div>

    </div>
    <!-- The Modal -->
<div id="myModal" class="modal">

    <div style="margin-bottom: 2em">
        <button class="prev-pic" style="position: absolute; left: 25%; color: black">
            Previous
        </button>

        <button class="next-pic" style="position: absolute; left: 70%; color: black">
            Next
        </button>
    </div>

    <!-- The Close Button -->
    <span id="img-close">&times;</span>

    <!-- Modal Content (The Image) -->
    <img class="modal-content" id="modalImg">

    <!-- Modal Caption (Image Text) -->
    <div id="caption"></div>
</div>

</section>
